<!-- about section -->
<section class="about-section" id="about-section">
    <h1 class="heading">About Me</h1>
    <div class="about">
        <div class="about-img-container">
            <img src="../../../assets/Queen.jpg" height="25" class="about-img" alt="">
            <button class="download-cv-btn">downlaod cv</button>
        </div>
        <p class="about-info"> I am committed to software development and constantly strive to improve my skills.<br>
             I write clean code, and I use strong communication skills. <br>
             I am an excellent team player, and my organizational skills keep me well-prepared for any challenge.<br>
              I always stay on top of the latest technology trends and apply them to my work to create better products.</p>
    </div>
</section>

