<!-- about section -->
<section class="about-section">
    <div class="about">
        <div class="about-img-container">
            <img src="../../../assets/Queen.jpg" height="25" class="about-img" alt="">
            <button class="download-cv-btn">downlaod cv</button>
        </div>
        <p class="about-info">FullStack Developer committed to improving my skills in software development.<br> 
            Skillful at using C++,HTML, Typescript, and other programming languages to implementclean code.<br> 
            I am a collaborative team player with strongcommunication skills, and I am well-organized.<br> 
            I am very adaptive tochange, and I am a constant learner I always keep up with the latesttechnology.</p>
    </div>
</section>

