<div class="background-container">
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/moon2.png" alt="">
    <div class="stars"></div>
    <div class="twinkling"></div>
    <div class="clouds"></div>
    
<!-- navbar -->
<nav class="navbar">
    <ul class="link-group">
        <li class="link active"><a href="#">home</a></li>
        <li class="link"><a routerLink="projects">projects</a></li>
        <li class="link"><a routerLink="about">about</a></li>
        <li class="link"><a href="#">contact</a></li>
    </ul>
</nav>

<!-- home section -->
<section class="home-section active">
    <h1 class="hero-heading">hello world, i am <br>Queen</h1>
</section>


