<section class="project-section active" id="project-section">
    <h1 class="project-heading"> my projects</h1>
    <div class="project-container">
        <div class="project-card">
            <img src="../../../assets/project-1.png" class="project-img" alt="">
            <div class="project-content">
                <h1 class="project-title">Project 1</h1>
                <p class="project-info">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit vitae delectus cumque repudiandae aliquam optio accusamus natus nobis! Nam, sunt?
                </p>
                <div class="project-btn-grp">
                    <button class="project-btn github">github repo</button>
                    <button class="project-btn live">see live</button>
                </div>
            </div>
        </div>
    </div>
</section>
