<!-- skills -->
<section class="skill-section" id="skill-section">
    <h1 class="heading">skills</h1>
    <div class="skills-container">
        <div class="skill-card">
            <img src="../../../assets/angular.png" class="skill-img" alt="">
            <div class="skill-level">90%</div>
            <h1 class="skill-name">ANGULAR</h1>
            <p class="skill-info">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur, delectus!</p>
        </div>
        <div class="skill-card">
            <img src="../../../assets/html.png" class="skill-img" alt="">
            <div class="skill-level">80%</div>
            <h1 class="skill-name">HTML</h1>
            <p class="skill-info">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur, delectus!</p>
        </div>
        <div class="skill-card">
            <img src="../../../assets/nodejs.png" class="skill-img" alt="">
            <div class="skill-level">70%</div>
            <h1 class="skill-name">NODEJS</h1>
            <p class="skill-info">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur, delectus!</p>
        </div>
        <div class="skill-card">
            <img src="../../../assets/bootstrap.png" class="skill-img" alt="">
            <div class="skill-level">90%</div>
            <h1 class="skill-name">BOOTSTRAP</h1>
            <p class="skill-info">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur, delectus!</p>
        </div>
    </div>
</section>
